<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Filter</h1>
    <div class="buttons">
      <button class="button button-positive" ng-click="closeFilter()">Schlie&szlig;en</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doFilter()">
      <div class="list">
                
        <label class="item item-input item-select">
		    <div class="input-label">
		      Ort
		    </div>
		    <select ng-model="filterData.ort">
				<option ng-repeat="ort in orte.data">{{ort}}</option>
		    </select>
	  	</label>

        <label class="item item-input item-select">
		    <div class="input-label">
		      Branche
		    </div>
		    <select ng-model="filterData.branchen">
				<option ng-repeat="branche in branchen.data">{{branche}}</option>
		    </select>
	  	</label>

        <label class="item">
          	<button class="button button-block button-positive" type="submit">Filtern</button>
        </label>
        
      </div>
    </form>
  </ion-content>
</ion-modal-view>
