
<ion-tabs class="tabs-icon-top tabs-bottom" enable-menu-with-back-views="false">


 <!-- Dashboard Tab -->
 <ion-tab title="Home" icon="icon ion-home" href="#/app-fk/home">
 <ion-nav-view name="homeContent"></ion-nav-view>
 </ion-tab>


 <!-- Friends Tab -->
 <ion-tab title="Suchen" icon="icon ion-search" href="#/app-fk/partner">
 <ion-nav-view name="partnerContent"></ion-nav-view>
 </ion-tab>


 <!-- Account Tab -->
 <ion-tab title="In der N&auml;he" icon="icon ion-location" href="#/app-fk/distance">
 <ion-nav-view name="distanceContent"></ion-nav-view>
 </ion-tab>

 <!-- Account Tab -->
 <ion-tab title="Favoriten" icon="icon ion-android-star-outline" href="#/app-fk/favoriten">
 <ion-nav-view name="favoritenContent"></ion-nav-view>
 </ion-tab>

 <ion-tab title="Mehr" icon="icon ion-ios-more-outline" href="#/app-fk/more/0">
 <ion-nav-view name="moreContent"></ion-nav-view>
 </ion-tab>


 <ion-tab title="User" icon="icon ion-ios-more-outline" href="#/app-fk/user" hidden="true">
 <ion-nav-view name="userContent"></ion-nav-view>
 </ion-tab>

</ion-tabs>
