<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.ionicframework.appfk689212"
        versionCode = "19"
        version     = "1.0.0">


  <name>familienKarte</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="sven.hoffmann@hcmedia.de" href="http://www.hcmedia.de/">
      Sven Hoffmann, hc media GmbH
    </author>
  <content src="index.html"/>
  <access origin="*"/>


 <preference name="permissions" value="android.permission.INTERNET"/>

  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
   <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="2000"/>
  <preference name="FadeSplashScreenDuration" value="2000"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>

  <platform name="android">
     <splash src="splash.png" />
     <icon src="icon.png" />
     <splash src="assets/splash/res-long-port-hdpi/default.png" platform="android" density="port-hdpi" />
     <splash src="assets/splash/res-long-port-ldpi/default.png" platform="android" density="port-ldpi" />
     <splash src="assets/splash/res-long-port-mdpi/default.png" platform="android" density="port-mdpi" />
     <splash src="assets/splash/res-long-port-xhdpi/default.png" platform="android" density="port-xhdpi" />
     <splash src="assets/splash/res-long-port-xxhdpi/default.png" platform="android" density="port-xxhdpi" />
     <splash src="assets/splash/res-long-port-xxxhdpi/default.png" platform="android" density="port-xxxhdpi" />
     <splash src="assets/splash/res-notlong-port-hdpi/default.png" platform="android" density="port-hdpi" />
     <splash src="assets/splash/res-notlong-port-ldpi/default.png" platform="android" density="port-ldpi" />
     <splash src="assets/splash/res-notlong-port-mdpi/default.png" platform="android" density="port-mdpi" />
     <splash src="assets/splash/res-notlong-port-xhdpi/default.png" platform="android" density="port-xhdpi" />
     <splash src="assets/splash/res-notlong-port-xxhdpi/default.png" platform="android" density="port-xxhdpi" />
     <splash src="assets/splash/res-notlong-port-xxxhdpi/default.png" platform="android" density="port-xxxhdpi" />
  </platform>


</widget>
