/* Empty. Add your own CSS if you like */
.header-item img {
	height:100% !important;
	width:auto !important;
}
h1 {
	padding-left:15px;
	padding-right:15px;
}
h1.headline {
	font-size:25px;
	padding:20px 15px;
}
h1 i {
	color:#000;
	float:right;
}
h1 a i {
	color:#000;
}
.custom-headline {
	color:#fff;
	font-size:15px;
	margin:0;
	padding:6px 10px;
	font-weight:bold;
}
.custom-headline.green {
	background:#75af2f;
}

.no-results {
	padding-top:20px;
	text-align:center;
	font-weight:bold;
}


.bar.bar-stable {
	background:#fff;
	border-bottom:1px solid #0092ac;
}
.bar.bar-stable::before {
	width:33.3%;
	content:"";
	display:block;
	border-bottom:1px solid #75af2f;
	position:absolute;
	left:0;
	bottom:-1px;
}
.bar.bar-stable::after {
	width:33.3%;
	content:"";
	display:block;
	border-bottom:1px solid #ff8529;
	position:absolute;
	right:0;
	bottom:-1px;
}

.bar .title.title-left {
	text-align:center;
	left:0 !important;
	color:#000;
}

.scroll-content {
	padding-top:0;
}

.tabs-top > .tabs, .tabs.tabs-top {
	border:0 !important;
}
.tabs {
	height:55px;
	line-height:55px;
}
.has-tabs-top {
	top:44px;
}
.tab-item {
	padding-top:5px !important;
	border:0 !important;
}
.tab-item-active {
	background:rgba(0, 0, 0, .05) !important;
}
.tab-item-active .icon {
	color:#75af2f;
}

#detail .tab-item {
	padding-top:0 !important;
}
.tab-nav {
	border-top:1px solid #f1f1f1;
}

/* ----------------------------------------------------------------------------- */
/* Sponsored Ad */
#sponsored_ad {
	position:relative;
	overflow:hidden;
}
.sponsored_container {
	position:absolute;
	bottom:14px;
	left:0;
	width:100%;
}
#sponsored_ad p {
	margin:0;
	box-sizing: border-box;
}
#sponsored_ad img {
	width:100%;
}
#sponsored_ad .sponsored_date {
	overflow:hidden;
}
#sponsored_ad .sponsored_date span {
	float:right;
	background:rgba( 255, 255, 255, 0.9 );
	color:#75af2f;
	padding:8px 10px;
	font-weight:700;
	box-sizing: border-box;
}
#sponsored_ad .sponsored_text {
	background:rgba( 117, 175, 47, .9 );
	color:#fff;
	padding:10px;
	font-weight:700;
}
#sponsored_ad .sponsored_text .title {
	display:block;
	font-size:18px;
	margin:0 0 10px 0;
}
/* ----------------------------------------------------------------------------- */
/* Partner Filter */
.filter-tabs {
	overflow:hidden;
	margin:0 -10px 10px -10px;
}
.filter-tab {
	float:left;
	width:33.3%;
	border-right:1px solid #f1f1f1;
}
.filter-tab.fullsize {
	float:none;
	width:100%;
}
.filter-tab.fullsize select {
	width:100%;
	padding:0;
	max-width:none;
	text-align:left;
}
.filter-tab:last-child {
	border:0;
}
.filter-tab .input-label {
	width:100%;
	display:block;
	padding:0;
	max-width:auto;
}
.filter-tab .item-select select {
	position:static;
}

/* ----------------------------------------------------------------------------- */
/* Partner List */
.partner-tabs {
	overflow:hidden;
	background:#f0f3f8;
	margin:0 -10px;
	padding-bottom:0 !important;
	border-bottom:1px solid #f1f1f1;
}
ion-list .item-content,
ion-list .item {
	background:none !important;
}
.item-content {
	padding:0 !important;
}
.partner-tab {
	width:100%;
	box-sizing:border-box;
}
.partner-tab input {
	width:100%;
}

.partner-logo {
	float:left;
	width:20%;
}
.partner-logo img {
	width:100%;
}
.partner-meta {
	float:right;
	width:75%;
}
.partner-title {
	font-weight:700;
}
.partner-title small {
	font-weight:normal;
}
.partner-short {
	padding-top:5px;
}
.partner-distance {
	font-weight:700;
	color:#0092ac !important;
}

/* ----------------------------------------------------------------------------- */
/* Partner Detail */
#detail {}
#detail-header {
	padding:25px 0;
	text-align:center;
}
#detail-header h1 {
	font-size:13pt;
	font-weight:700;
	margin:0;
	padding:0 15px;
}
#detail-header p {
	padding:0 15px;
	margin:0;
}
#detail-header p.logo img {
	max-width:50%;
	padding-bottom:10px;
}
#detail-header p.angebot {
	margin-top:25px;
	text-align:left;
}
#detail-header p.branche {
	font-style: italic;
	margin-top:5px;
	border-bottom:1px solid #0092ac;
	position:relative;
	padding-bottom:25px;
}

#detail-header p.branche::after {

}
#detail-header .tabs {
	position:relative;
	width:100%;
	border-bottom:1px solid #ccc;
	background:none;
	border-top:0;
	border-bottom:1px solid #0092ac;
	position:relative;
}
#detail-header .tabs::before,
#detail-header p.branche::before {
	border-bottom:1px solid #75af2f;
	position:absolute;
	left:0;
	bottom:-1px;
	content:"";
	width:33.3%;
}
#detail-header .tabs::after,
#detail-header p.branche::after {
	border-bottom:1px solid #ff8529;
	position:absolute;
	right:0;
	bottom:-1px;
	content:"";
	width:33.3%;
}

/* spinner */
.scroll {
	min-height:100%;
}
div.spinner {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 100%;
  text-align: center;
  background:#fff;
  z-index:9;
  padding-top:40%;
}
.spinner svg {
  width: 19% !important;
  height: 85px !important;
}

/* content bg, background, behaviors */
.scroll {
	padding:0 10px;
}
.pane, .view {
	background:#f1f1f1;
}
#sponsored_ad {
	padding:10px 0;
}
.list {
	padding-top:0;
}
.inner-list {
	background:#fff;
	overflow:hidden;
	padding: 16px 49px 16px 16px;
	margin:0 0 8px 0;
}
.item {
	border:0;
}

/* ----------------------------------------------------------------------------- */
/* MORE */
#more {
	padding-top:50px;
}
#more .content {
	padding:0 0px;
}
#more ul {
	margin:0;
	padding:0;
	list-style:none;
	width:100%;
}
#more ul li {
	padding:0;
	margin:0 0 8px 0;
}
#more li a {
	background:#fff;
	padding:15px 12px 15px 50px;
	color:#333;
	font-weight:700;
	font-size:16px;
	text-decoration:none;
	display:block;
	position:relative;
}
#more li a i:first-child {
	font-size:20px;
	position:absolute;
	left:12px;
}
#more li a i:last-child {
	float:right;
	font-size:20px;
}
#more h1 {
	text-align:left;
	padding:0;
	margin:0 0 15px 0;
	font-size:18px;
	font-weight:700;
}
